In [1]:
import pandas as pd

# CSV verbonden

In [2]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

# Head van life expectancy

In [11]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

# Filtert op both sexes uit 2019

In [4]:
filteredData = (lifeExpectancy['Dim1'] == "Both sexes") & (lifeExpectancy['Period'] == 2019)
list = lifeExpectancy[filteredData]
list.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45

# Gebruikt gefilterde data van boven om te tellen per life expectancy

In [5]:
list['First Tooltip'].value_counts()

82.62    2
83.22    2
64.08    2
76.03    2
73.95    2
        ..
73.28    1
81.72    1
66.28    1
81.10    1
60.68    1
Name: First Tooltip, Length: 175, dtype: int64

# Vijf hoogste life expectancies

In [6]:
list.sort_values(by="First Tooltip", ascending=False).iloc[0:5]

,Location,Period,Indicator,Dim1,First Tooltip
997,Japan,2019,Life expectancy at birth (years),Both sexes,84.26
1897,Switzerland,2019,Life expectancy at birth (years),Both sexes,83.45
1573,Republic of Korea,2019,Life expectancy at birth (years),Both sexes,83.30
1837,Spain,2019,Life expectancy at birth (years),Both sexes,83.22
1753,Singapore,2019,Life expectancy at birth (years),Both sexes,83.22

# Vijf laagste life expectancies

In [7]:
list.sort_values(by="First Tooltip").iloc[0:5]

,Location,Period,Indicator,Dim1,First Tooltip
1117,Lesotho,2019,Life expectancy at birth (years),Both sexes,50.75
373,Central African Republic,2019,Life expectancy at birth (years),Both sexes,53.10
1801,Somalia,2019,Life expectancy at birth (years),Both sexes,56.47
661,Eswatini,2019,Life expectancy at birth (years),Both sexes,57.73
1333,Mozambique,2019,Life expectancy at birth (years),Both sexes,58.14